<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The First Form</title>
</head>
<body>
<h1> Form starts here </h1>

<form method="POST" action="{{url_for('form')}}">
    {{form.csrf_token}}
    {{form.fname.label}}
    {{form.fname}}<br>
    {% for error in form.fname.errors %}
        <li style="color:red;">{{error}}</li>
    {% endfor %}
    {{form.place.label}}
    {{form.place}}<br>
    {% for error in form.place.errors %}
        <li style="color:red;">{{error}}</li>
    {% endfor %}
    {{form.animal.label}}
    {{form.animal}}<br>
    {% for error in form.animal.errors %}
        <li style="color:red;">{{error}}</li>
    {% endfor %}
    {{form.movie.label}}
    {{form.movie}}<br>
    {% for error in form.movie.errors %}
        <li style="color:red;">{{error}}</li>
    {% endfor %}
    {{form.bday.label}}
    {{form.bday}}<br>
    {% for error in form.bday.errors %}
        <li style="color:red;">{{error}}</li>
    {% endfor %}
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>