<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        window.jQuery||document.write("<script src="{{url_for('static', filename='js/jquery-3.5.1.js')}}"><\/script>");
    </script>
</head>
<body>
<form method="POST" action="{{url_for('chngform')}}">
    {{chgform.csrf_token}} <br>
    <div contenteditable="true">
    {{dfhtml}}
    </div>
<!--    <input type="submit" value="SUBMIT">-->
    {{chgform.submitbtn}}
    <input type="button" id="button1" value="Test jQuery">
</form>
<script type="text/javascript">
    $(function(){
        $('#button1').click(function(){
            alert('jQuery Success !')
        });
    });
</script>
</body>
</html>